<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>评论提醒</title>
</head>
<body>
{# 设置标签不转义 #}
{% autoescape off %}
    <p>评论或回复内容：<br>
        {{ comment_text }}
        <br>
        博客链接：
        <br>
        <a href="{{ url }}">点击查看</a>
    </p>
{% endautoescape %}
</body>
</html>