{% extends 'base.html' %}

{% block title %}
    我的博客|注册
{% endblock %}

{% block content %}
    <div class="container">
        {% if not user.is_authenticated %}
            <div class="col-xl-6 offset-xl-3">
            <div class="card">
                <h5 class="card-header">注册</h5>
                <div class="card-body">
                    <form action="{% url 'register' %}" method="post">
                        {% csrf_token %}
                        {% for field in reg_form %}
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                            <p class="text-danger">{{ field.errors.as_text }}</p>
                        {% endfor %}
                        <span class="text-danger">{{ login_form.non_field_errors }}</span>
                        <span id="error-tip" class="text-danger">{{ form.non_field_errors }}</span>
                        <div class="clearfix"></div>
                        <div id="send_code" class="btn btn-primary float-left">发送验证码</div>
                        <input type="submit" value="注册" class="btn btn-primary float-right">
                    </form>
                </div>
            </div>
        {% else %}
            <script>
                window.location.href = '{% url 'home' %}'
            </script>
        {% endif %}
        </div>
    </div>
{% endblock %}

{% block js %}
    {# 将首页这个按钮设置激活状态 #}
    <script>
        $(".nav-home").addClass("active").siblings().removeClass("active");
    </script>

    <script>

        $("#send_code").click(function () {
            if ($(this).hasClass('disabled')) {
                return false;
            }

            let email = $('#id_email').val();
            if (email === '') {
                $('#error-tip').text('邮箱不能为空');
                return false
            }
            let re_email = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/;
            if (!re_email.test(email)) {
                alert('邮箱格式不正确');
                return false
            }

            // 发送验证码
            $.ajax({
                url: "{% url 'send_verification_code' %}",
                type: 'GET',
                data: {
                    'email': email,
                    'send_for': 'register_code',
                },
                cache: false,
                success: function (data) {
                    if (data['status'] === 'ERRORS') {
                        alert(data['msg']);
                    } else {
                        alert(data['msg']);
                    }

                }
            });

            // # 把按钮变灰
            $(this).addClass('disabled');
            $(this).attr("disabled", true);
            let time = 60;
            let interval = setInterval(() => {
                time -= 1;
                $(this).text(`再次发送(${time}s)`);
                if (time <= 0) {
                    // 时间等于0，进行复原
                    clearInterval(interval);
                    $(this).removeClass('disabled');
                    $(this).attr('disabled', false);
                    $(this).text('再次发送');
                    return false;
                }
            }, 1000);

        });
    </script>
{% endblock %}
