{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {#  用来放标题  #}
        {% block title %}

        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static '/css/base.css' %}">
    {#下面这种和上面这种效果一模一样，但是推荐使用上面这种#}
    {#    <link rel="stylesheet" href="/static/css/base.css">#}

    {% block header_extends %}
        {#    用来做头部扩展，如加载某些静态文件     #}
    {% endblock %}
</head>
<body>
<div class="nav">
    <a class="logo" href="{% url 'home' %}">
        <h3>felix Blog</h3>
    </a>
    <a href="{% url 'home' %}">首页</a>
    <a href="{% url 'blog_list' %}">博客</a>
</div>
{# 用来放内容 #}
{% block content %}

{% endblock %}

</body>
</html>