{% extends 'base.html' %}
{% load staticfiles %}
{# 标题 #}
{% block title %}
    felix Blog
{% endblock %}

{% block header_extends %}
    <link rel="stylesheet" href="{% static 'blog/blog.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome-free-5.5.0-web/css/all.min.css' %}">
{% endblock %}

{# 内容#}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="card" style="">
                    <div class="card-header"><h5 class="card-title">{% block blog_type_title %}博客列表（一共有
                        {{ page_of_blogs.paginator.count }}篇博客）{% endblock %}</h5></div>
                    <div class="card-body">
                        {% for blog in page_of_blogs.object_list %}
                            <div class="blog">
                                <h3><a href="{% url 'blog_detail' blog.pk %}">{{ blog.title }}</a></h3>
                                <div class="blog-info">
                                    <p>
                                        {# 添加图标 #}
                                        <i class="fas fa-tag"></i>
                                        <a href="{% url 'blogs_with_type' blog.blog_type.pk %}">
                                            {{ blog.blog_type }}
                                        </a>
                                        <i class="far fa-clock  "></i>
                                        {{ blog.created_time|date:"Y-m-d" }}
                                    <p>
                                </div>
                                <p>{{ blog.content|truncatechars:30 }}</p>
                            </div>
                        {% empty %}
                            <div class="blog">
                                <h3>--暂无博客，敬请期待--</h3>
                            </div>
                        {% endfor %}
                    </div>


                    {# 分页 #}
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            {# 上一页 #}
                            {% if page_of_blogs.has_previous %}
                                <li class="page-item"><a class="page-link"
                                                         href="?page={{ page_of_blogs.previous_page_number }}">上一页</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled"><a class="page-link" href="#">上一页</a></li>
                            {% endif %}
                            {# 全部页码 #}
                            {% for page_num in page_of_blogs.paginator.page_range %}
                                <li class="page-item"><a class="page-link"
                                                         href="?page={{ page_num }}">{{ page_num }}</a></li>
                            {% endfor %}
                            {# 下一页 #}
                            {% if page_of_blogs.has_next %}
                                <li class="page-item"><a class="page-link"
                                                         href="?page={{ page_of_blogs.next_page_number }}">下一页</a></li>
                            {% else %}
                                <li class="page-item disabled"><a class="page-link" href="#">下一页</a></li>
                            {% endif %}
                        </ul>
                    </nav>

                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="">
                    <div class="card-header"><h5 class="card-title">博客分类</h5></div>
                    <div class="card-body">
                        <ul class="blog-types">
                            {% for blog_type in blog_types %}
                                <li><a href="{% url 'blogs_with_type' blog_type.pk %}">{{ blog_type.type_name }}</a>
                                </li>
                            {% empty %}
                                <li>暂无分类</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(".nav-blog").addClass("active").siblings().removeClass("active");
    </script>
{% endblock %}
